p {
    font-size: 13px;
    margin-right: 1in;
    margin-left: 1in;
}
h1 {
    text-align: center;

}
h2 {
    font-size: 14px;
    color: green;
    text-align: right;
}
.authors {
    font-size: 14px;
}